{% extends 'app/head.html' %}
{% block content %}
{% load static %} 


<div style="height: 200px; border: 2px solid black"></div>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, quo?
  Tempora, modi. Inventore officiis quibusdam porro pariatur laborum in nobis
  odio dolores quidem deleniti, iusto perspiciatis beatae nulla repudiandae
  tenetur.
</p>

<div class="abc" style="margin: 10%; display: flex">

  <div style="border: 1px solid black; margin: 10px;">

    <img src="app/static/image/test.jpeg" />
 

  </div>

  <div style="border: 1px solid black; margin: 10px;">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae vitae
      delectus, ipsam distinctio quae ab, incidunt sed impedit quasi aperiam
      exercitationem, quisquam quo rerum nesciunt vero dignissimos itaque
      reprehenderit ipsum?
    </p>
  </div>
</div>

<div style="border: 2px solid black; height: 500px; margin: 10%;" ></div>


<section>

<div class="one">

  <div class="two" style="background-color: white; ">
    <img src="app/static/image/dawid-zawila--G3rw6Y02D0-unsplash.jpg" style="width: 7rem;" />
    <div style="width: 7rem;">
      <p class="text" style="text-align: center;">Helloooooo</p>
    </div>
  </div>

  <div class="two"style="background-color: white;">
    <img src="app/static/image/dawid-zawila--G3rw6Y02D0-unsplash.jpg" style="width: 7rem;" />
    <div style="width: 7rem;">
      <p class="text" style="text-align: center;">Helloo oooo</p>
    </div>
  </div>

  <div class="two" style="background-color: white;">
    <img src="app/static/image/dawid-zawila--G3rw6Y02D0-unsplash.jpg" style="width: 7rem;" />
    <div style="width: 7rem;">
      <p class="text" style="text-align: center;">Helloo 654oooo</p>
    </div>
  </div>

  <div class="two" style="background-color: white;">
    <img src="app/static/image/dawid-zawila--G3rw6Y02D0-unsplash.jpg" style="width: 7rem;" />
    <div style="width: 7rem;">
      <p class="text" style="text-align: center;">Hello Worldooooo</p>
    </div>
  </div>

  <div class="two" style="background-color: white; ">
    <img src="app/static/image/dawid-zawila--G3rw6Y02D0-unsplash.jpg" style="width: 7rem;" />
    <div style="width: 7rem;">
      <p class="text" style="text-align: center;">Helloooooo</p>
    </div>
  </div>

  <div class="two"style="background-color: white;">
    <img src="app/static/image/dawid-zawila--G3rw6Y02D0-unsplash.jpg" style="width: 7rem;" />
    <div style="width: 7rem;">
      <p class="text" style="text-align: center;">Helloo oooo</p>
    </div>
  </div>

  <div class="two" style="background-color: white;">
    <img src="app/static/image/dawid-zawila--G3rw6Y02D0-unsplash.jpg" style="width: 7rem;" />
    <div style="width: 7rem;">
      <p class="text" style="text-align: center;">Helloo 654oooo</p>
    </div>
  </div>

  <div class="two" style="background-color: white;">
    <img src="app/static/image/dawid-zawila--G3rw6Y02D0-unsplash.jpg" style="width: 7rem;" />
    <div style="width: 7rem;">
      <p class="text" style="text-align: center;">Hello Worldooooo</p>
    </div>
  </div>

  <div class="two"style="background-color: white;">
    <img src="app/static/image/dawid-zawila--G3rw6Y02D0-unsplash.jpg" style="width: 7rem;" />
    <div style="width: 7rem;">
      <p class="text" style="text-align: center;">He lloooooo</p>
    </div>
  </div>

</div>



</section>



{% endblock %}
